<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>Active:</strong>
  <%= @staff.active %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @staff.imei %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>

<h4>Recent Orders</h4>

<table>
  <thead>
  <tr>
    <th> Job Number </th>
    <th> Customer Name </th>
  </tr>
  </thead>

  <tbody>
  <% @staff.job_orders.each do |joborder|%>
    <tr>
      <td> <%= joborder.jobnumber %> </td>
      <td> <%= joborder.customer.name %> </td>
    </tr>
  <% end %>
  </tbody>
</table>