<%= form_with(model: job_order, local: true) do |form| %>
  <% if @job_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_order.errors.count, "error") %> prohibited this job_order from being saved:</h2>

      <ul>
      <% @job_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" id="inJobnumber">
    <div class="input-field col s4">

      <% if @job_order.jobnumber.present? %>
        <%= form.label :jobnumber, "Job Number", class: 'active'%>
        <%= form.number_field :jobnumber, :readonly => true %>
      <% else %>
        <%= form.label :jobnumber, "Job Number", class: 'active' %>
        <%= form.number_field :jobnumber, :readonly => true, :value => rand(10 ** 10) %>
      <% end %>
    </div>
  </div>

  <div class="row" id="inStaff">
    <div class="input-field col s4">
      <div class="control-group">
        <%= form.label :staff, class: 'control-label' %>
        <div class="controls">
          <%= form.collection_select :staff_id, Staff.all, :id, :name, prompt: 'Select Staff'%>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="inCustomer">
    <div class="input-field col s4">
      <div class="control-group">
        <%= form.label :customer, class: 'control-label' %>
        <div class="controls">
          <%= form.collection_select :customer_id, Customer.all, :id, :name, prompt: 'Select Customer' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="intime">
    <div class="col s4">
      <%= form.label :time %>
      <%= form.text_field :time, id: 'datetimepicker'%>
    </div>
  </div>


  <div class="row" id="inStatus">
    <div class="input-field col s4">
      <div class="control-group">
        <%= form.label :status, class: 'control-label' %>
        <div class="controls">
          <%= form.select(:status, options_for_select([['Pending', 'pending'], ['On Progress', 'on_progress'],['Completed', 'completed']], disabled: ['on_progress', 'completed']))%>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="inStatus">
    <div class="input-field col s4">
      <div class="field">
        <%= form.label :point %>
        <%= form.text_field :point %>
      </div>
    </div>
  </div>


  <br>
  <div class="control-group">
    <div class="controls">
      <%= form.submit "Submit", class: "waves-effect waves-light btn" %>
    </div>
  </div>
<% end %>
