<div><h5>Dashboard</h5></div>

<br>
<div class="row">
<div class="col s4">
    <div class="card horizontal">
      <div class="card-content">
        <div class="row">
          <i class="medium material-icons">assignment</i>
        </div>
        <div class="row center">
          <h6>JO List</h6>
        </div>
      </div>
      <div class="card-stacked">

        <div class="card-content">
          <div class="row center">
            <h5 class="orange-text text-lighten-2"><%= JobOrder.count %></h5>
          </div>
          <div class="row center span-text">
            Total
        </div>
        </div>
        <div class="card-action">
          Completed : <%= JobOrder.where(status: 'completed').count %>
        </div>
      </div>
    </div>
</div>
<div class="col s4">
    <div class="card horizontal">
      <%= link_to staffs_path do %>
      <div class="card-content">
        <div class="row">
          <i class="medium material-icons">person</i>
        </div>
        <div class="row center">
          <h6>Staff</h6>
        </div>
      </div>
      <% end %>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row center">
            <h5 class="blue-text text-lighten-2"><%= Staff.count %></h5>
          </div>
          <div class="row center span-text">
            Total
          </div>
        </div>
        <div class="card-action">
          Working :  <%= JobOrder.where(status: 'on_progress').count %>
        </div>
      </div>

    </div>
</div>
<div class="col s4">
    <div class="card horizontal">
      <%= link_to customers_path do %>
      <div class="card-content">
        <div class="row center">
          <i class="medium material-icons">group</i>
        </div>

        <div class="row center">
          <h6>Customer</h6>
        </div>
      </div>
      <% end %>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row center">
            <h5 class="blue-text text-darken-3"><%= Customer.count %></h5>
          </div>
          <div class="row center span-text">
            Total
          </div>
        </div>
        <div class="card-action">
            On Handling : <%= JobOrder.where(status: 'on_progress').count %>
        </div>
      </div>
    </div>
</div>
</div>
<p id="notice"><%= notice %></p>

<div class="row list-title">
  <i class="medium material-icons">assignment</i>
  <span>Recent Job Orders</span>
  <div class="right">
    <%= link_to '+ Add Job Order', '#ModalJO', class: "btn waves-effect waves-light modal-trigger"%>
  </div>
</div>

<div class="modal modal-add-jo" id="ModalJO">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content">
    <div class="title-add">
      Add Job Order
    </div>
    <%= render 'job_orders/form', job_order: @job_order %>
  </div>
</div>

<table class="responsive-table striped">
  <thead>
    <tr class="header-column">
      <th>Job Number</th>
      <th>Staff</th>
      <th>Time Appointment</th>
      <th>Status</th>
      <th>Customer Name</th>
      <th>Customer Point</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @job_orders.order('id Desc').each do |job_order| %>
      <tr>
        <td><%= job_order.jobnumber %></td>
        <td><%= job_order.staff.name %></td>
        <td><%= job_order.time %></td>
        <td><%= job_order.status.titleize %></td>
        <td><%= job_order.customer.name %></td>
        <td><%= job_order.customer.point %></td>
        <td><%= link_to '<i class="smallest material-icons">visibility</i>'.html_safe, job_order %></td>
        <td><%= link_to '<i class="smallest material-icons">create</i>'.html_safe, edit_job_order_path(job_order) %></td>
        <td><%= link_to '<i class="smallest material-icons">delete</i>'.html_safe, job_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
