<p id="notice"><%= notice %></p>

<p>
  <strong>Jobnumber:</strong>
  <%= @job_order.jobnumber %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @job_order.staff.name %>
</p>

<p>
  <strong>Time Appointment:</strong>
  <%= @job_order.time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job_order.status.titleize %>
</p>

<p>
  <strong>Customer Name:</strong>
  <%= @job_order.customer.name %>
</p>

<p>
  <strong>Customer Point:</strong>
  <%= @job_order.point %>
</p>

<%= link_to 'Edit', '#ModalJOEdit', class: "modal-trigger" %> |
<%= link_to 'Back', job_orders_path %>

<div class="modal modal-jo" id="ModalJOEdit">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content">
    <div class="title-add">
      Edit Job Order
    </div>
    <%= render 'job_orders/form', job_order: @job_order %>
  </div>
</div>
