<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Point:</strong>
  <%= @customer.point %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<h4>Recent Orders</h4>

<table>
  <thead>
  <tr>
    <th> Job Number </th>
    <th> Customer Name </th>
  </tr>
  </thead>

  <tbody>
  <% @customer.job_orders.each do |joborder|%>
    <tr>
      <td> <%= joborder.jobnumber %> </td>
      <td> <%= joborder.staff.name %> </td>
    </tr>
  <% end %>
  </tbody>
</table>