<div><h5>Dashboard</h5></div>
<br>
<div class="row">
<div class="col s4">
    <div class="card horizontal">
      <div class="card-content">
        <a href="#">Job List</a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>75<br>Total</p>
        </div>
        <div class="card-action">
          <a href="#">Comp : 27</a>
        </div>
      </div>
    </div>
</div>
<div class="col s4">
    <div class="card horizontal">
      <div class="card-content">
        <a href="#">Staff</a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>25<br>Total</p>
        </div>
        <div class="card-action">
          <a href="#">Working : 6</a>
        </div>
      </div>
    </div>
</div>
<div class="col s4">
    <div class="card horizontal">
      <div class="card-content">
        <a href="#">Customer</a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>175<br>Total</p>
        </div>
        <div class="card-action">
          <a href="#">Today : 27</a>
        </div>
      </div>
    </div>
</div>
</div>
