/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-1") !default;
$secondary-color: color("green", "lighten-1") !default;


@import 'materialize';

nav {
  .nav-menu {
    position: absolute;
    display: block !important;
  }
}
.container {
  font-family: open sans,tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  .header-column {
    th {
      text-align: center;
    }
  }
  .list-title {
    display: inline-block;
    width: -webkit-fill-available;
    margin-bottom: 3rem;
    i {
      transform: translateY(50%);
      font-size: 2rem;
    }
    span {
      font-size: 20px;
      height: inherit;
      transform: translateY(50%);
      position: absolute;
      display: inline-block;
      padding-left: 10px;
    }
  }
  .modal {
    .title-add {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 3rem;
    }
  }
  .modal-add-jo {
    max-height: 80%;
    width: 90%;
  }
}
.fixed-nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
}


