@import "application.scss";


  .card-content {
    box-shadow: silver 0 1px 1px;
    .row {
      margin-bottom: 0;
      i
      { color: color('grey', 'darken-2')}
      h6 {
        font-weight: bold;
        color: color('green', 'lighten-1')
      }
    }
  }
  .card-stacked {
    .card-content {
      padding-bottom: 10px !important;
      padding-top: 10px !important;
      h5 {
        font-weight: bold;
      }
    }
    .card-action {
      background-color: color('grey', 'lighten-2');
    }
    .span-text {
      font-style: italic;
    }
  }
  .modal-close{
    position: absolute;
    top: 0;
    right: 12px;
    margin: 0;
    padding: 0;
  }
