<!DOCTYPE html>
<html>
  <head>
    <meta name="charset="utf-8>
    <title>RubyInitializationCrud</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="fixed-nav-bar">
    <div class="nav-wrapper blue">
      <a href="#" data-target="slide-out" class="sidenav-trigger nav-menu"><i class="material-icons">menu</i></a>
      <div class="nav-menu">
      </div>
      <div class="container">
        <a href="job_orders" class="brand-logo center">MixGPS Job Dispatch
          <i class="material-icons left">domain</i>
        </a>

      </div>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <%= image_tag("navbar_image.jpg") %>
      </div>
      <a href="#user"><%= image_tag("icon.png", :class => 'circle') %></a>
      <a href="#name"><span class="white-text name">Administrator</span></a>
      <a href="#email"><span class="white-text email">admin@mixgps.com</span></a>
    </div></li>
    <li>
      <%= link_to job_orders_path do %>
        <i class="material-icons">assignment</i>Job Order List
      <% end %>
    </li>
    <li>
      <%= link_to staffs_path do %>
        <i class="material-icons">person</i>Staff
      <% end %>
    </li>
    <li>
      <%= link_to customers_path do %>
        <i class="material-icons">group</i>Customer
      <% end %>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Notification</a></li>
    <li><a class="waves-effect" href="#">Inbox</a></li>
    <li><div class="divider bottom-text"></div></li>
    <li><a class="subheader">User</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">exit_to_app</i>Logout</a></li>
  </ul>

    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyB6FX-wWPeZUByUu5VG3Rb8YihWlZJGI3M",
        authDomain: "fir-php-3cf5d.firebaseapp.com",
        databaseURL: "https://fir-php-3cf5d.firebaseio.com",
        projectId: "fir-php-3cf5d",
        storageBucket: "fir-php-3cf5d.appspot.com",
        messagingSenderId: "858913734253"
      };
      firebase.initializeApp(config);
    </script>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
